.home-service-card {
    height: 100%;
}

.home-service-card .content {
    min-height: 240px;
}

.home-service-card .image {
    margin-top: 24px;
}

.home-service-card.service-span-two .image img {
    width: calc(200% + 30px);
    max-width: none;
}

@media (max-width: 991px) {
    .home-service-card.service-span-two .image img {
        width: 100%;
        max-width: 100%;
    }
}
